<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Lawy | 판결 예측 서비스</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/index.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script>
        var hasResponseArrived = false;

        function connectToServer() {
            websocket = new WebSocket("ws://" + window.location.host + "/ws");
            websocket.onopen = (e) => onOpen(e);
            websocket.onmessage = (e) => onSocketMessage(e);
            websocket.onclose = (e) => onClose(e);
        }

        function onOpen(e) {
            websocket.send(JSON.stringify({
                type: "REQUEST_TASK",
                requestData: $('#case_info')[0].value
            }));
        }

        function onSocketMessage(e) {
            let message = JSON.parse(e.data);
            if (message.type == "RESPONSE_TASK") {
                // 징역
                $("#imprisonment_text")[0].innerText = message.responseData.imprisonment + " 개월";
                $("#imprisonment_progress")[0].value = message.responseData.imprisonment / 36 * 100;
                $("#imprisonment_desc")[0].innerText = "입력한 사건에 대해 약 " + message.responseData.imprisonment + "개월의 징역이 예상됩니다.";

                // 집행유예
                $("#probation_text")[0].innerText = message.responseData.probation + " %";
                $("#probation_progress")[0].value = message.responseData.probation;
                $("#probation_desc")[0].innerText = "입력한 사건에 대해 집행유예로 판정될 가능성이 " + message.responseData.probation + "% 입니다.";

                // 벌금
                $("#fine_text")[0].innerText = message.responseData.fine.toLocaleString("ko-KR") + " 원";
                $("#fine_progress")[0].value = message.responseData.fine / 40000000 * 100;
                $("#fine_desc")[0].innerText = "입력한 사건에 대해 약 " + message.responseData.fine.toLocaleString("ko-KR") + "원의 벌금이 예상됩니다.";

                // 예상 판결
                $("#judgement_decision_text")[0].value = message.responseData.judgementDecision;

                // 유사 판례
                $("#similar_precedents")[0].innerHTML = '';
                message.responseData.similarPrecedents.forEach((element) => {
                    let splittedElement = element.split(' ');
                    $("#similar_precedents")[0].innerHTML += `<div class="similar-precedent"><a target="_blank" href="https://lbox.kr/case/${splittedElement[0]}">${splittedElement[0]}</a><p>${splittedElement[1]}% 일치</p></div>`;
                });

                hasResponseArrived = true;
                websocket.close();
            }
        }

        function onClose(e) {
            if (hasResponseArrived) {
                // 결과창 표시
                if ($('.result').css("display") === 'none') {
                    $('.result').css("display", "block");
                }
                // 스크롤 이동
                $('.full')[0].scrollIntoView({ behavior: 'smooth' });
                hasResponseArrived = false;
            } else {
                // 결과창 숨김
                if ($('.result').css("display") === 'block') {
                    $('.result').css("display", "none");
                }
            }
            // 로딩창 숨김
            if ($('.loading').css("display") === 'flex') {
                $('.loading').css("display", "none");
            }
        }

        function onPredict() {
            if ($('#case_info')[0].value === '') {
                alert("사건 정보를 입력해주세요.");
                return;
            }

            if ($('.loading').css("display") === 'none') {
                // 결과창 숨김
                if ($('.result').css("display") === 'block') {
                    $('.result').css("display", "none");
                }
                $('.loading').css("display", "flex"); // 로딩창 표시

                connectToServer();
            }
        }

        $(window).on('load', () => {
            // 추천 키워드 단어 추출
            let keywords = ["사고후미조치", "혈중알코올농도", "금지규정", "경합범가중", "전동킥보드", "신호 위반", "중앙선 침범", "음주측정", "범죄전력", "난폭운전", "음주단속", "동종 전력", "누범 전력", "과실재물손괴", "위험운전치상", "의무보험", "사문서위조", "버스정류장", "택시정거장", "주·정차 금지장소", "음주측정거부", "자동차전용도로", "손괴 후 미조치", "운전업무", "중앙분리대", "도주치상", "신호 또는 지시 위반", "안전거리 미확보", "진로변경 금지 위반", "급제동 금지 위반", "연쇄 추돌", "집해유예기간", "어린이보호구역"];
            let recm_keywords = [];

            for (i = 0; i < 10; i++) {
                n = Math.floor(Math.random() * keywords.length);
                if (recm_keywords.indexOf(keywords[n]) === -1)
                    recm_keywords.push(keywords[n]);
                else
                    i--;
            }

            // 추천 키워드 단어 주입
            recm_keywords.forEach((element) => {
                $(".recm-keywords")[0].innerHTML += `<p>${element}</p>`;
            });

            // 추천 키워드 단어 클릭시 텍스트 추가
            $(".recm-keywords > p:nth-child(n + 2)").click((element) => {
                $('#case_info')[0].value += element.target.innerText + " ";
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="loading">
            <div class="loading-main">
                <span class="loader"></span>
            </div>
        </div>
        <div class="header">
            <div class="header-left">
                <p>Lawy</p><p>.</p>
            </div>
        </div>
        <div class="main">
            <div class="gap-60"></div>
            <h1 class="bottom-gap-10">판결 예측</h1>
            <p>사건에 대한 정보를 바탕으로 판결을 예측합니다.<br>예측된 판결은 법적 효력을 갖지 않습니다.</p>
            <div class="gap-20"></div>
            <h2 class="bottom-gap-10">- 사건 정보</h2>
            <div class="recm-keywords bottom-gap-10">
                <p>추천 키워드</p>
            </div>
            <textarea id="case_info" placeholder="사건에 대한 정보를 입력해주세요.&#10;예) 초등학교 앞 사거리에서 음주운전" class="bottom-gap-10"></textarea>
            <button class="full" onclick="onPredict()">예측</button>
            <div class="gap-20"></div>
            <div class="result">
                <div class="divider"></div>
                <div class="gap-30"></div>
                <h1>예측 결과</h1>
                <div class="gap-20"></div>
                <div class="result-element bottom-gap-30">
                    <h2>- 징역</h2>
                    <h1 id="imprisonment_text"> 개월</h1>
                    <progress id="imprisonment_progress" value="0" max="100"></progress>
                    <div class="progress-caption">
                        <p>0개월</p>
                        <p>3년</p>
                    </div>
                    <div class="gap-15"></div>
                    <p id="imprisonment_desc"></p>
                </div>
                <div class="result-element bottom-gap-30">
                    <h2>- 집행유예 가능성</h2>
                    <h1 id="probation_text"> %</h1>
                    <progress id="probation_progress" value="0" max="100"></progress>
                    <div class="progress-caption">
                        <p>0%</p>
                        <p>100%</p>
                    </div>
                    <div class="gap-15"></div>
                    <p id="probation_desc"></p>
                </div>
                <div class="result-element bottom-gap-30">
                    <h2>- 벌금</h2>
                    <h1 id="fine_text"> 만원</h1>
                    <progress id="fine_progress" value="0" max="100"></progress>
                    <div class="progress-caption">
                        <p>0원</p>
                        <p>40,000,000원</p>
                    </div>
                    <div class="gap-15"></div>
                    <p id="fine_desc"></p>
                </div>
                <div class="result-element bottom-gap-30">
                    <h2>- 예상 판결</h2>
                    <div class="gap-10"></div>
                    <textarea id="judgement_decision_text" readonly></textarea>
                </div>
                <div class="result-element bottom-gap-30">
                    <h2>- 유사판례</h2>
                    <div class="gap-10"></div>
                    <div id="similar_precedents"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>